
<html>
  <body>

<!-- Encabezado -->
<header>
  <img src="https://www.rarerecords.com.au/cdn/shop/products/BUTTERFLY-EFFECT-THE-The-Butterfly-Effect-Movie-Poster-1_2048x.jpg?v=1658503700" 
  alt="Imagen Redonda" 
  class="imagen-redonda">
  <h1>El Efecto Mariposa</h1>
</header>

<!-- Sección 1 - Tarjeta Blanca con Título y Contenido -->
<section class="tarjeta-blanca">
  <h2> Historia </h2>
  <p> Evan Treborn, un joven que se está esforzando por superar unos dolorosos recuerdos de su infancia, 
    descubre una técnica que le permite viajar atrás en el tiempo y ocupar su cuerpo de niño para poder 
    cambiar el curso de su dolorosa historia. Sin embargo también descubre que cualquier mínimo cambio 
    en el pasado altera enormemente su futuro. </p>
</section>

<!-- Sección 2 - Tarjeta Blanca con Título y Contenido en Formato de Listas -->
<section class="tarjeta-blanca">
  <h2> Motivos por los que te gusta </h2>
  <ul>
    <li> Tiene muchos saltos en el pasado, presente y futuro que te ponen a pensar. </li>
    <li> Es bastante dramática. </li>
    <li> Toca temas muy duros de la vida cotidiana. </li>
  </ul>
  <h2> Personajes </h2>
  <ul>
    <li> Evan Treborn (Ashton Kutcher) </li>
    <li> Logan Lerman (John Patrick Amedori) </li>
    <li> Kayleigh Miller (Amy Smart) </li>
  </ul>
</section>

<!-- Sección 3 - Tarjeta Blanca con Título que Contiene Dos Tarjetas Grises -->
<section class="tarjeta-blanca">
  <h2> Películas o Series Similares </h2>

  <div class="tarjeta-gris">
    <h3> Donnie Darko </h3>
    <p> Donnie al escapar milagrosamente de una muerte 
      casi segura, comienza a sufrir alucinaciones que 
      lo llevan a actuar como nunca hubiera imaginado. </p>
  </div>

  <div class= "tarjeta-gris" >
    <h3> 8 Minutos Antes de Morir </h3>
    <p> El capitán Colter Stevens,se despierta en la piel 
      de un viajero del tiempo cuya misión es vivir una y 
      otra vez el atentado a un tren hasta que consiga 
      averiguar quién es el culpable. </p>
  </div>
  </section>
 </body>
</html>